header {
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
    gap: 1.25rem;
}

header nav ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

main {
  padding: 1.75rem 1rem;
  max-width: 1100px;
  margin: auto;
}

footer {
  background: var(--text-main);
  color: var(--white);
  border-top: 1px solid var(--text-main);
  text-align: center;
  padding: 2.5rem;
  margin-top: 2.5rem;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
}

.catalog-layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 100vh;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.catalog-sidebar {
  background: var(--white);
  padding: 2rem 1.5rem;
  border-right: 1px solid var(--gray-light);
}

.catalog-content {
  padding: 3rem 2rem;
}

.main--catalog {
  max-width: none;
  margin: 0;
  padding: 0;
}
.catalog-sidebar,
.filters,
.filter-group {
  text-align: left;
  align-items: flex-start;
}
